/*{
	padding: 0;
	margin: 0;
}

body{
	font: normal 12px Tahoma, Verdana, Arial, sans-serif;
}

p{
	padding: 10px;
	text-align: justify;
}

h1{
	padding-bottom: 10px;
}
h2{
	font-size: 18px;
	padding: 10px 10px;
}
*/
#divContenedor{
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	top: 100px;
	text-align: center;
}
	#divLogo{
		padding-bottom: 20px;
	}

/* estilos del overlay */
#divOverlay{
	position: fixed;
	background: #000;
	height: 100%;
	width: 100%;
	z-index: 99998;
	display: none;
	top: 0;
	left: 0;
}
/*
.clsBoton{
	padding: 7px;
	background: #000;
	display: inline-block;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 10px #f1f1f1;
	border: solid 1px #000;
}
	.clsBoton:hover{
		background: #fff;
		color: #000;
		border-color: #000;
	}*/

/* clases relacionadas con la ventana modal */
.clsVentana{
	width: 800px;
	height: 500px;
	border: solid 1px #ccc;
	position: fixed;
	top: 50%;
	margin-top: -250px;
	left: 45%;
	margin-left: -300px;
	border-radius: 3px;
	box-shadow: 0 0 15px #999;
	background: #fff;
	z-index: 99999;
	display: none;
        
}
	.clsVentanaTitulo{
		background: #222;
		color: #fff;
		border-radius: 3px 3px 0 0;
		display: block;
	}
		.clsVentanaTitulo strong{
			display: inline-block;
			padding: 10px;
		}
		.clsVentanaTitulo a{
			float: right;
			display: inline-block;
			color: #fff;
			text-decoration: none;
			background: #000;
			padding: 5px;
			margin: 5px;
			border-radius: 3px;
			cursor: pointer;
		}
			.clsVentanaTitulo a:hover{
				background: #fff;
				color: #000;
			}
	.clsVentanaContenido{
		padding: 10px;
		height: 446px;
		overflow: auto;
		border-radius: 0 0 3px 3px;
	}
		.clsVentanaContenido iframe{
			width: 790px;
			height: 440px;
			border-radius: 3px;
			border: solid 1px #f1f1f1;
		}